# Data Types
## Basic data types
- integer - basic numbers, 1, 2, 3, -5
- string - words, sentences
- float - decimal numbers, like 3.14, 1e6, 1000000.0
- boolean - True/False

In [ ]:
1, 2, 3
"hello ananya"
100.22
True, False

## Operations on basic types
- integers: add, multiply, divide, subtract, power-of etc
- strings: +/add/concatenate/combine, in/find

In [1]:
1+2

3

In [2]:
"hello " + "ananya"

'hello ananya'

In [12]:
"ya" in "ananya" and "ru" in "ananya"

False

## Variables

In [15]:
ani = 5
arun = -3

In [16]:
ani + arun

2

## More complex types
- lists, [1,2,3,], list([2,4,6,8])
- dictionary -- key which is used to lookup in the dictionary, and there is a value associated with the key, { "ananya": "7/23/2002", "arun": "3/22/1982" }
  bdate["ananya"]
- set - collection of distinct items, no order is maintained, set([1,1,1,1])
- ...

In [17]:
l = [1, 2, 3, 5, 6, 8]
4 in l
l[2]
m = [ 100, 200, 300]
n = l + m

In [19]:
age = { 'ananya': 15, 'arun': 32, 'bharathi': 99, }
age["ananya"]
"Ananya" in age

False

In [21]:
2 == 2

True

In [22]:
'a' == 'A'

False

In [23]:
"a".upper()

'A'

In [24]:
"ananya".upper()

'ANANYA'